body {
    text-align: center;
    background-color: #000004;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    width: 32rem;
}
button {
    border-radius: 7px;
    font-size: 17px;
    border: none;
    padding: 10px 20px;
    background-color: #0f0f0f;
    color: #fff;
    transition: background-color 0.3s ease;
}
button:hover {
    background: #1f1f1f;
}
a {
    color: #f0f0f0;
    transition: color 0.3s ease;
    text-decoration: none;
}
a:hover {
    color: #d0d0d0;
}
.gamethumb {
    width: auto;
    height: 125px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    /*background-color: #0f0f0f;*/
    color: #aaa;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}